VITE_GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
VITE_GENLAYER_CHAIN_ID=4221
VITE_AEGIS_CONTRACT_ADDRESS=0xe44E5B93baCF3da55840b452D5274e175214C19D
VITE_AEGIS_OWNER_ADDRESS=0xC8Ba5DA455b011863F2ECa76a6fa21E62Cc91B87
VITE_GENLAYER_EXPLORER_URL=https://explorer-bradbury.genlayer.com
